:root {
  /*editor*/
  --themeColor: rgb(9, 105, 218);
  --themeColor90: rgba(9, 105, 218, 0.9);
  --themeColor80: rgba(9, 105, 218, 0.8);
  --themeColor70: rgba(9, 105, 218, 0.7);
  --themeColor60: rgba(9, 105, 218, 0.6);
  --themeColor50: rgba(9, 105, 218, 0.5);
  --themeColor40: rgba(9, 105, 218, 0.4);
  --themeColor30: rgba(9, 105, 218, 0.3);
  --themeColor20: rgba(9, 105, 218, 0.2);
  --themeColor10: rgba(9, 105, 218, 0.1);

  --highlightColor: rgba(9, 105, 218, 0.4);
  --selectionColor: rgba(0, 0, 0, .1);
  --editorColor: rgba(87, 96, 106, 0.9);
  --editorColor80: rgba(87, 96, 106, 1);
  --editorColor60: rgba(87, 96, 106, 0.7);
  --editorColor50: rgba(87, 96, 106, 0.6);
  --editorColor40: rgba(87, 96, 106, 0.5);
  --editorColor30: rgba(87, 96, 106, 0.4);
  --editorColor10: rgba(87, 96, 106, 0.1);
  --editorColor04: rgba(87, 96, 106, 0.04);
  --editorBgColor: #ffffff;
  --deleteColor: #ff6969;
  --iconColor: rgba(87, 96, 106, 0.8);
  --codeBgColor: rgba(68, 88, 111, 0.10);
  --codeBlockBgColor: rgba(69, 88, 108, 0.07);
  --footnoteBgColor: rgba(0, 0, 0, .03);
  --inputBgColor: rgba(0, 0, 0, .06);
  --focusColor: var(--themeColor);

  --buttonFontColor: var(--editorColor);
  --buttonBgColor: #ffffff;
  --buttonBorder: 1px solid #dcdfe6;
  --buttonShadow: none;
  --buttonFontColorHover: var(--buttonFontColor);
  --buttonBgColorHover: linear-gradient(#fafafa, #f5f5f5);
  --buttonBorderHover: var(--buttonBorder);
  --buttonFontColorActive: var(--buttonFontColor);
  --buttonBgColorActive: #f5f5f5;
  --buttonBorderActive: var(--buttonBorder);
  --buttonFocusBorder: 1px solid var(--themeColor);

  --buttonPrimaryFontColor: #ffffff;
  --buttonPrimaryBgColor: var(--themeColor);
  --buttonPrimaryBorder: none;
  --buttonPrimaryShadow: 0 0 8px 0 rgba(0, 0, 0, .1);
  --buttonPrimaryFontColorHover: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorHover: var(--buttonPrimaryBgColor);
  --buttonPrimaryBorderHover: var(--buttonPrimaryBorder);
  --buttonPrimaryFontColorActive: var(--buttonPrimaryFontColor);
  --buttonPrimaryBgColorActive: var(--buttonPrimaryBgColor);
  --buttonPrimaryBorderActive: var(--buttonPrimaryBorder);
  --buttonPrimaryFocusBorder: none;
  --buttonPrimaryFocusShadow: inset 0 0 0 1px rgba(5, 53, 109, 0.5), 0 0 0 1px var(--themeColor);
  --tableBorderColor: #e5e5e5;

  /*marktext*/
  --sideBarColor: rgba(87, 96, 106, 0.6);
  --sideBarIconColor: var(--iconColor);
  --sideBarTitleColor: rgba(36, 41, 47, 1);
  --sideBarTextColor: rgba(87, 96, 106, 0.4);
  --sideBarBgColor: rgba(255, 255, 255, 0.9);
  --sideBarItemHoverBgColor: rgba(87, 96, 106, 0.03);
  --itemBgColor: rgba(245, 245, 245, 0.6);

  --floatFontColor: rgba(87, 96, 106, 0.7);
  --floatBgColor: #ffffff;
  --floatHoverColor: rgba(87, 96, 106, 0.04);
  --floatBorderColor: rgba(0, 0, 0, .03);
  --maskColor: rgba(232, 232, 232, .8);
  --editorAreaWidth: 750px;
}

.editor-tabs {
  background: #f7f7f7 !important;
  box-shadow: none !important;
}
.editor-tabs:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #e0e0e0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.editor-tabs ul.tabs-container:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid #e0e0e0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.title-bar-editor-bg.tabs-visible {
  background: #f7f7f7 !important;
}

.tabs-container > li {
  background: none !important;
}
.tabs-container > li.active {
  border: 1px solid #e0e0e0;
  border-top: none;
  border-bottom: none;
  background: var(--floatBgColor) !important;
}
.tabs-container > li.active:after {
  top: 0 !important;
  bottom: auto !important;
  background: var(--themeColor) !important;
}

/* ------------------------------------ */

:not(pre) > code[class*="language-"],
pre:not(.CodeMirror-line),
pre[class*="language-"],
pre.ag-paragraph {
  background: var(--codeBlockBgColor) !important;
  border: none !important;
}

li.ag-paragraph {
  color: var(--editorColor);
}

/*task list*/
li.ag-task-list-item {
  list-style-type: none;
  position: relative;
}
li.ag-task-list-item > input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: .1em;
  transform: rotate(-90deg);
  margin: 0;
  left: -24px;
  transform-origin: center;
  transition: all .2s ease;
}
li.ag-task-list-item > input.ag-checkbox-checked {
  transform: rotate(0);
  opacity: .5;
}
li.ag-task-list-item > input[type=checkbox]::before {
  content: '';
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid var(--editorColor);
  border-radius: 2px;
  background-color: var(--editorBgColor);
  position: absolute;
  top: 0;
  left: 0;
  transition: all .2s ease;
}
li.ag-task-list-item > input.ag-checkbox-checked::before {
  border: transparent;
  background-color: var(--editorColor);
}
li.ag-task-list-item > input::after {
  content: '';
  transform: rotate(-45deg) scale(0);
  width: 9px;
  height: 5px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  position: absolute;
  display: inline-block;
  top: 1px;
  left: 5px;
  transition: all .2s ease;
}
li.ag-task-list-item > input.ag-checkbox-checked::after {
  transform: rotate(-45deg) scale(1);
}

/*horizontal line*/
p:not(.ag-active)[data-role="hr"]::before {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  left: 50%;
  top: 50%;
  height: 2px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px dashed var(--editorColor50);
  transform: translateX(-50%) translateY(-50%);
}
